/* COLORS */

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-primary: hsl(160, 2%, 31%);
  --clr-gray-1: hsl(0, 0%, 20%);
  --clr-gray-2: hsl(0, 0%, 31%);
  --clr-gray-3: hsl(0, 0%, 51%);
  --clr-gray-4: hsl(0, 0%, 74%);
  --clr-gray-5: hsl(0, 0%, 88%);
  --clr-gray-6: hsl(0, 0%, 95%, 1);
}

/* FONTS */

:root {
  --ff: "Montserrat", sans-serif;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-xs: 1.2rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.6rem;
  --fs-lg: 1.8rem;
  --fs-xl: 3.6rem;
}

/* RESETS */

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  position: relative;
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

img,
i[class] {
  user-select: none;
}

input,
button {
  font: inherit;
}

input:focus,
button:focus {
  outline: 0;
}

/* BODY */

body {
  background-color: var(--clr-white);
  padding: 6.4rem 0;
  width: calc(100% - (clamp(1px, 11vw, 240px) * 2));
  margin: auto;
  font: var(--fw-semibold) var(--fs-md) var(--ff);
  color: var(--clr-gray-1);
}
